<ul class="list" *ngFor="let comment of comments">
  <li>
    <p class="name-and-date">{{comment.user_name}} <span>{{comment.updated_at | timeAgo}}</span></p>
    <p class="content">{{comment.comment}}</p>

    <p class="actions">
      <button type="button" (click)="replyToComment(comment)" class="btn btn-success btn-sm">Reply</button>
      <button type="button" (click)="editComment(comment)" *ngIf="comment.can_edit"
        class="btn btn-warning btn-sm">edit</button>
    </p>
    <div *ngIf="comment.replies && comment.replies.length > 0">
      <app-replies [comments]="comment.replies"></app-replies>
    </div>
  </li>
</ul>
