.list {
    list-style: none;
    padding: 0;
    p{
        margin: 0;
    }
    .name-and-date {
        font-size: 12px;
        color: #333;
        span{
            float: right;
        }
    }
    .content{
        background: #f5f5f5;
        padding: 10px;
        margin-bottom: 5px;
    }

    .actions {
        button.btn-sm {
            font-size: 10px;
            padding: 2px 5px; 
            margin-right: 5px;
        }
        margin-bottom: 10px;
    }

    > li {
        margin-bottom: 10px;
    }

    .list{
        margin-left: 20px;
    }

}