<div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="card margin-top">
          <div class="card-body">
            <div class="comment-box">
              <p class="details">{{comment.user_name}} <span>{{comment.updated_at | timeAgo}}</span></p>
              <p class="message">{{comment.comment}}</p>
            </div>
            <form [formGroup]="commentForm">
              <div class="form-group">
                <textarea formControlName="comment" class="form-control" rows="3"
                  placeholder="Please write here"></textarea>
              </div>
              <div *ngIf="!newCommentEditing">
                <button type="button" [disabled]="!commentForm.valid" (click)="updateComment(commentForm.value)"
                  class="btn btn-primary">Update</button>
              </div>
              <div *ngIf="newCommentEditing">
                <p>Please wait...</p>
              </div>
  
            </form>
          </div>
        </div>
      </div>
  
  
    </div>
  </div>
  