.comment-box{
    p{
        margin: 0;
    }
    .details{
        font-size: 12px;

        span{
            float: right;
        }
    }
    .message{
        padding: 10px;
        background: #f5f5f5;
        margin-bottom: 10px;
    }
}