<div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="card margin-top">
          <div class="card-body">
            <h5 class="card-title">Authorizing</h5>
            <p class="card-text">Please wait, we are authorizing your request.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  