<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card margin-top">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <p class="card-text">Login or register with github to access.</p>
          <button (click)="login()" class="btn btn-primary">Get In</button>
        </div>
      </div>
    </div>
  </div>
</div>
