.list {
    list-style: none;
    padding: 0;
    margin: 0;
    p{
        margin: 0;
    }
    .name-and-date {
        font-size: 12px;
        color: #333;
        span{
            float: right;
        }
    }
    .content{
        background: #f5f5f5;
        padding: 10px;
    }

    > li {
        margin-bottom: 10px;
    }

    .list{
        margin-left: 20px;
    }

}

.btn.btn-sm{
    padding: 2px 3px;
}