<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="card margin-top">
        <div class="card-body">
          <form [formGroup]="commentForm">
            <div class="form-group">
              <label>Comment</label>
              <textarea formControlName="comment" class="form-control" rows="3"
                placeholder="Please write comment here"></textarea>
            </div>
            <div *ngIf="!newCommentAdding">
              <button type="button" [disabled]="!commentForm.valid" (click)="addComment(commentForm.value)"
                class="btn btn-primary">Add</button>
            </div>
            <div *ngIf="newCommentAdding">
              <p>Please wait, adding Comment...</p>
            </div>

          </form>
        </div>
      </div>

      <div *ngIf="isCommentsLoaded" class="card margin-top">
        <div class="card-body">
          <div *ngIf="comments.length > 0">
            <app-replies [comments]="comments"></app-replies>
          </div>
          <div *ngIf="comments.length == 0">
            <div class="alert alert-warning" role="alert">
              No comments.. Add comments from above form.
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
